# Ignore log files
*.log

# Ignore temp folders
temp/ 

# Ignore the .vscode directory
.vscode/

# Ignore the uv associated directories and files
.venv/
.python-version
pyproject.toml
uv.lock

# Ignore the books directory
books

# Ignore the pycache directory
__pycache__/